<h1>Letter一覧</h1>

<table>
  <tr>
    <th>コメント</th>
  </tr>

<% @letters.each do |letter| %>
  <tr>
    <td><%= letter.content %></td>
    <td><%= link_to '詳細を確認する', letter_path(letter.id) %></td>
    <td><%= link_to 'letterを編集する',edit_letter_path(letter.id) %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Letter作成画面へ', new_letter_path %>