<h1>Letter一覧</h1>

<table>
  <tr>
    <th>コメント</th>
  </tr>

<% @letters.each do |letter| %>
  <tr>
    <td><%= letter.content %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Letter作成画面へ', new_letter_path %>